<ul class="nav nav-tabs">
  <li><%= link_to "Main Page", root_path %></li>
  <li><%= link_to "Articles", wikis_path %></li>
  <li><%= link_to 'Featured Articles', root_path, :class => 'navbar-link' %> </li>
  <li><%= link_to "Current Events", root_path, :class => 'navbar-link' %> </li>
</ul>